/*NOTE: ALL THIS LOOKS GOOD ON 100% ZOOM (STANDARD) ON CHROME ON A 1920X1080 MONITOR*/
/*WASN'T SURE HOW TO CALIBRATE CONTENT AND BENEFITS SECTION TO ALWAYS BE UNIFORM ALIGNMENT*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /*change header selector directly, no need for class*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 22px; /*pedantic? maybe... but i don't care*/
}

/* header h1 .seo {
    color: #d9dcd6;
} */

nav { /*do nav, not header div blah blah blah*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*my suspicion is that some of these are redundant, so i removed one?*/
    font-size: 24px; /*nav links for ants??? no*/
}

/* ul { dont need
    list-style-type: none;
} */

li { /*no need for all the sub elements on this*/
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 28px; /*16 -> 28 font size for legibility*/
}

footer { /*screw classes, just use html elements*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

 .content article { /*consolidated the 3 articles*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img { /*consolidated the 3 images*/
    max-height: 200px;
}

.content h2 { /*consolidated the 3 h2s*/
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits { /*consolidated all benefit classes and subclasses, come on bros we can do better than that*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px; /*increased font size for legibility*/
}

.benefits p { /*override the p above*/
    font-size: 21px;
    margin-bottom: 30px;
}

.benefits img { /*had to tweak these just right*/
    display: block;
    margin: -20px auto;
    max-width: 170px;
}